<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwExceptions="false">
  <targets>

    <target name="console"
              xsi:type="ColoredConsole"
              useDefaultRowHighlightingRules="true"
              layout="'TimeStamp:${Date:format=yyyyMMdd-HHmmss}', 'Source:${logger}', 'Level:${Level}', 'Message:${Message:jsonEncode=true}' ${onexception:${newline}'Exception\: ${Exception:format=tostring:jsonEncode=true}', 'StackTrace\:${stacktrace:topFrames=12:jasonEncode=true}', '${event-properties:item=AssemblyInfo}'}" />
    
      <target name="file"
              xsi:type="File"
              keepFileOpen="true"
              fileName="C:/Kiosk/Logs/application.log"
              archiveFileName="C:/Kiosk/Logs/application.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="40"
              archiveDateFormat="yyyyMMdd"
              autoFlush="false"
              concurrentWrites="true"
              layout="'TimeStamp:${Date:format=yyyyMMdd-HHmmss}', 'Source:${logger}', 'Level:${Level}', 'Message:${Message:jsonEncode=true}' ${onexception:${newline}'Exception\: ${Exception:format=tostring:jsonEncode=true}', 'StackTrace\:${stacktrace:topFrames=12:jasonEncode=true}', '${event-properties:item=AssemblyInfo}'}">
      </target>

	  <target name="loopfile"
              xsi:type="File"
              keepFileOpen="true"
              fileName="C:/Kiosk/Logs/loop.log"
              archiveFileName="C:/Kiosk/Logs/loop.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="40"
              archiveDateFormat="yyyyMMdd"
              autoFlush="false"
              concurrentWrites="true"
              layout="'TimeStamp:${Date:format=yyyyMMdd-HHmmss}', 'Source:${logger}', 'Level:${Level}', 'Message:${Message:jsonEncode=true}' ${onexception:${newline}'Exception\: ${Exception:format=tostring:jsonEncode=true}', 'StackTrace\:${stacktrace:topFrames=12:jasonEncode=true}', '${event-properties:item=AssemblyInfo}'}">
	  </target>
    
      <target name="database"
              xsi:type="Database"
              connectionString="Data Source=.\sqlexpress;Database=KNectHost;Persist Security Info=False;Integrated Security = true;user id=kiosk;password=!k10sk;"
              commandType="StoredProcedure"
              commandText="KioskLoggerInsertLog"
              keepConnection="true">
        <parameter name="@level" layout="${level}"/>
        <parameter name="@source" layout="${logger}"/>
        <parameter name="@timestamp" layout="${date}" />
        <parameter name="@timestampUtc" layout="${date:universalTime=true}"/>
        <parameter name="@json">
          <layout xsi:type="JsonLayout">
            <attribute name="TimeStamp" layout="${longdate}|${date:format= K}|" />
            <attribute name="Event" layout="${logger}" />
            <attribute name="Level" layout="${level:upperCase=true}"/>
            <attribute name="message" layout="${message}" />
            <attribute name="Exception" layout="${onexception:${Exception:format=tostring:jsonEncode=true}" />
            <attribute name="StackTrace" layout="${onexception:${stacktrace:topFrames=12:jasonEncode=true}" />
            <attribute name="CodeInfo" encode="false" >
              <layout xsi:type="JsonLayout">
                <attribute name="ClassName" layout="${event-properties:item=ClassName}" />
                <attribute name="Method" layout="${event-properties:item=MemberName}" />
                <attribute name="Line" layout="${event-properties:item=SourceLineNumber}" />
                <attribute name="File" layout="${event-properties:item=SourceFile}" />
                <attribute name="Keywords" layout="${event-properties:item=keywords}" />
                <attribute name="AssemblyInfo" layout="${event-properties:item=AssemblyInfo}" />
              </layout>
            </attribute>
          </layout>
        </parameter>
      </target>

  </targets>

  <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />
	  <logger name="S3SyncLogger" minlevel="Trace" writeTo="loopfile" />
      <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
  
</nlog>